# Node.js and frontend
/node_modules
/dist
/build
/.next
/.nuxt
/.vite
/.idea
/.vscode

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
/.idea
/.vscode

# Operating System files
.DS_Store
Thumbs.db

# Gradle files
.gradle/
build/

# IntelliJ IDEA files
.idea/

# JetBrains
*.iml

# Mac OS
.AppleDouble
.LSOverride

# Project-specific
*.png
*.pdf
backend/bin/
backend/.vscode/
